
body{
    /* background-color: green; */
}

 #task-detail{
    background:linear-gradient(120deg,rgb(15, 15, 146),rgb(10, 164, 224));
/* background: radial-gradient(40deg,45deg,blue,black); */
    width: 1000px;
    height: auto;
    padding: 20px;
    margin: auto;
    text-align: center;
}
#task-detail input{
    width: 450px;
    height: 40px;
    padding: 0px;
    font-size: 20px;
    margin: 15px 0px;
}
#task-detail button{
    width: 100px;
    height: 40px;
    font-size: 20px;
}
#tsks div{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 60px;
    border: solid 1px black;
    margin: 10px 0px;
    padding: 10px;
    box-sizing: border-box;
}
#tsks div h2{
    width: 600px;
}
#tsks div input{
    width: 200px;
}

#header{
    display: flex;
    justify-content: center;
    background-color: aqua;
    
    
}

#content{
    background-color: yellow;
    display: flex;
    justify-content: center;
}
#add{
    border: solid 5px ;
   border-color: blue;
    border-radius: 10px;
}

#submit{
    color: white;
    background-color: green;
    border-radius: 10px;
}
label{
    font-size: 30px;
}

#complete{
background-color: red;
color: white;
border: solid 5px red;
border-radius: 10px;

}




